@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.297px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.152px;
}
h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.297px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.297px;
  }
  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.152px;
  }
  h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.297px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.297px;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.152px;
  }
  h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.152px;
  }

  h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.75px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #141414;
  }
}

.container-stretched {
  min-height: calc(100vh - 80px);
}
@media (min-width: 1024px) {
  .container-stretched {
    min-height: calc(100vh - 95px);
  }
}

.border-none {
  border: none;
}

.custom-scroll-bar {
  ::-webkit-scrollbar {
    width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(211, 212, 206);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 97, 194);
  }
}

.spinner {
  animation: spin 0.5s linear 0s infinite forwards;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
